*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}



main {
    height: 150px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    
  }

  
  #number {
    height: 40px;
    width: 200px;
    margin-top: 40px;
    border: 1px solid black;
    text-align: center;
 
  }
  #increment {
    height: 30px;
    width: 100px;
    margin-top: 50px;
   
  }
  #decrement {
    height: 30px;
    width: 100px;
    margin-top: 50px;
    
  }